.settings
.idea
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*
/.gradle/
/containers-src/hyperiot-karaf-distribution/target/
/containers-src/hyperiot-karaf-distribution-test/target/
