.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/target/exam/*
**/target/exam/**
*/build/*
*/out/*
out/*


HyperIoTRole-api/build/

HyperIoTRole-features/build/

HyperIoTRole-model/build/

HyperIoTRole-repository/build/

HyperIoTRole-service/build/

HyperIoTRole-service-rest/build/

HyperIoTRole-actions/build/

HyperIoTRole-actions/target/**

hs_err_pid3748\.log

hs_err_pid6243\.log

hs_err_pid7760\.log

HyperIoTRole-test/\.classpath

HyperIoTRole-test/build/

HyperIoTRole-test/target/

HyperIoTRole-repository/out/

HyperIoTRole-test/out/
